
{% macro badge(text, class, icon, id, attr) %}	
	<div class=" {% if icon %} material-icons {% endif %} mdl-badge" data-badge="{{attr}}">{{icon}}{{text}}</div>
{% endmacro %}

{% macro button(text, class, icon, id, attr) %}
    <button id="{{id}}" class="mdl-button {{class}}">{{icon}}{{text}}</button>
{% endmacro %}

{% macro link(text, class, href, id, attr) %}
    <a id="{{id}}" href="{{href}}" class="{{class}} mdl-button">{{text}}</a>
{% endmacro %}	

{% macro card(title, content, actions, class, id) %}
	{% import _self as components %}
    <div class="{{class}} mdl-card">
	    {% if title %}
	        <div class="mdl-card__title">
	            <h2 class="mdl-card__title-text">
	                {{ title }}
	            </h2>
	        </div>
	    {% endif %}
	    {% if content %}
	        <div class="mdl-card__supporting-text">
	            {{content}}
	        </div>
	    {% endif %}
	    {% if actions.links %}
	        <div class="mdl-card__actions {{ actions.links.class}}">
	            {% for link in actions.links %}
	                {% if link.text %}
	                    {{ components.link(link.text,link.class,link.href,link.id) }}
	                {% endif %} 
	            {% endfor %}
	        </div>
	    {% endif %}
	    {% if actions.menu %}
	        <div class="mdl-card__menu {{ actions.menu.class}}">
	            {% if actions.menu.buttons %}
	                {% for button in actions.menu.buttons %}
	                    {{ components.button(button.text,button.class,button.icon,button.id) }}
	                {% endfor %}
	            {% endif %}
	        </div>
	    {% endif %}
	</div>
{% endmacro %}

{% macro dialog(title, content, actions, class, id) %}
	<dialog class="mdl-dialog">
		{% if title %}
	    	<h4 class="mdl-dialog__title">{{ title }}</h4>
		{% endif %}
		{% if content %}
	    	<div class="mdl-dialog__content">
	      		{{ content|raw }}
	    	</div>
	    {% endif %}
	    {% if actions.links %}
	        <div class="mdl-dialog__actions {{ actions.links.class}}">
	            {% for link in actions.links %}
	                {% if link.text %}
	                    {{ components.link(link.text,link.class,link.href,link.id) }}
	                {% endif %} 
	            {% endfor %}
	        </div>
	    {% endif %}
	    {% if actions.buttons %}
	        <div class="mdl-dialog__actions {{ actions.buttons.class}}">
	            {% for button in actions.buttons %}
	                {% if button.text %}
	                	{{ components.button(button.text,button.class,button.icon,button.id) }}
	                {% endif %} 
	            {% endfor %}
	        </div>
	    {% endif %}
  </dialog>
{% endmacro %}